@font-face { 
    font-family: 'RaananBoldSuper';
    src: url('../fonts/RaananSuperBold.eot');
    src: url('../fonts/RaananSuperBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RaananSuperBold.woff') format('woff'),
         url('../fonts/RaananSuperBold.svgz#RaananSuperBold') format('svg'),
         url('../fonts/RaananSuperBold.svg#RaananSuperBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

	@font-face {
    font-family: 'RaananSuper';
    src: url('../fonts/RaananSuper.eot');
    src: url('../fonts/RaananSuper.eot?#iefix') format('embedded-opentype'),
         url('../fonts/RaananSuper.woff') format('woff'),
         url('../fonts/RaananSuper.svgz#RaananSuperRegular') format('svg'),
         url('../fonts/RaananSuper.svg#RaananSuperRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'RaananRegular';
    src: url('../fonts/raananregular-webfont.eot');
    src: url('../fonts/raananregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raananregular-webfont.woff') format('woff'),
         url('../fonts/raananregular-webfont.ttf') format('truetype'),
         url('../fonts/raananregular-webfont.svg#RaananRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RaananBlackRegular';
    src: url('../fonts/raananblac-webfont.eot');
    src: url('../fonts/raananblac-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raananblac-webfont.woff') format('woff'),
         url('../fonts/raananblac-webfont.ttf') format('truetype'),
         url('../fonts/raananblac-webfont.svg#RaananBlackRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RaananLightRegular';
    src: url('/../fonts/raananlight-webfont.eot');
    src: url('/../fonts/raananlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/../fonts/raananlight-webfont.woff') format('woff'),
         url('/../fonts/raananlight-webfont.ttf') format('truetype'),
         url('/../fonts/raananlight-webfont.svg#RaananLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RaananBoldRegular';
    src: url('../fonts/raananbold-webfont.eot');
    src: url('../fonts/raananbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raananbold-webfont.woff') format('woff'),
         url('../fonts/raananbold-webfont.ttf') format('truetype'),
         url('../fonts/raananbold-webfont.svg#RaananBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'carmelit_boldbold';
    src: url('../fonts/carmelitbold.eot');
    src: url('../fonts/carmelitbold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/carmelitbold.woff') format('woff'),
         url('../fonts/carmelitbold.ttf') format('truetype'),
         url('../fonts/carmelitbold.svg#carmelit_boldbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'carmelit_regularregular';
    src: url('../fonts/carmelitregular.eot');
    src: url('../fonts/carmelitregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/carmelitregular.woff') format('woff'),
         url('../fonts/carmelitregular.ttf') format('truetype'),
         url('../fonts/carmelitregular.svg#carmelit_regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}