// Core variables and mixins
@import "variables.less";
@import "bootstrap/mixins.less";
@import "_typography.less";
// Reset
@import "bootstrap/normalize.less";
@import "bootstrap/print.less";

// Core CSS
@import "bootstrap/scaffolding.less";
@import "bootstrap/type.less";
@import "bootstrap/code.less";
@import "bootstrap/grid.less";


@import "bootstrap/tables.less";
@import "bootstrap/forms.less";
@import "bootstrap/buttons.less";

// Components
@import "bootstrap/component-animations.less";
@import "bootstrap/glyphicons.less";
@import "bootstrap/dropdowns.less";
@import "bootstrap/button-groups.less";
@import "bootstrap/input-groups.less";
@import "bootstrap/navs.less";
@import "bootstrap/navbar.less";
@import "bootstrap/pagination.less";
@import "bootstrap/pager.less";
@import "bootstrap/labels.less";
@import "bootstrap/badges.less";
@import "bootstrap/thumbnails.less";
@import "bootstrap/alerts.less";
@import "bootstrap/progress-bars.less";
@import "bootstrap/media.less";
@import "bootstrap/list-group.less";
@import "bootstrap/panels.less";
@import "bootstrap/responsive-embed.less";
@import "bootstrap/wells.less";
@import "bootstrap/close.less";

// Components w/ JavaScript
@import "bootstrap/modals.less";
@import "bootstrap/tooltip.less";
@import "bootstrap/popovers.less";
@import "bootstrap/carousel.less";

// Utility classes
@import "bootstrap/utilities.less";
@import "bootstrap/responsive-utilities.less";

// Custom CSS
@import url(http://fonts.googleapis.com/earlyaccess/alefhebrew.css);
.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
	float:right;
}
@media (min-width: @grid-float-breakpoint){
  	.col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, 
  	.col-sm-7, .col-sm-8, .col-sm-9{
  		float: right;
  	}
  	.alignleft{float:left;margin:0 20px 20px 0}
  	.alignright{float:right;margin:0 0 20px 20px}
 }
.row.nomargin{margin:0;}

.navbar-wrapper{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
   @media (min-width: @grid-float-breakpoint){
   	margin-top:20px;
   	.navbar{border-radius:4px;}
   }
}
.navbar-toggle{
	position:absolute;
	top:0;
	right:0;
	margin:0;
	z-index: 2;
	margin:10px 10px 40px 40px;
	background: @brand-dark;
	.icon-bar{
		background: #fff;
		heighty:3px;
	}
	&:focus{outline:0;}
}
.navbar-wrapper > .container{
	  @media (max-width: @grid-float-breakpoint){
	  		padding-right:0;
	  		padding-left:0;
	  }
}
.navbar-wrapper .navbar .container{
	width:auto;
}
.navbar>.container {
	.navbar-brand{
		position: absolute;
		right:40px;
		top:0;
		padding:0;
		z-index:1
	}
}
.navbar-nav > li a{
	&:hover,&:focus{background:none;color:@brand-accent;}
}
.fullwidth{
	margin:0 -15px;
	img{max-width:100%;}
}
.embed-responsive{width:100%;height:100%;}
.sidebar{padding:0}
.carousel{
	height: 500px;
 	margin-bottom: 60px;
}
.carousel-inner>.item{
	background:#91ad60;
	height:500px;
	>img{
		height:500px;
	}
}


img{max-width:100%;height:auto;}
#inner-content{padding-top:40px;}
.main-features{
	.feature{
		position:relative;
		margin-bottom:20px;
		img{max-width:100%;}
		h3{
			position:absolute;
			width:100%;
			top:0;
			background: rgba(2,125,188,0.9);
			color:#fff;
			margin:0;
			line-height:50px;
			padding-right:25px;
		}
		 a.view{
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left:0;
			z-index: 1000;
			text-indent: 200%;
			white-space: nowrap;
			font-size: 0;
			opacity: 0;
		}
	}
}
.home .article-footer{
	margin-top:10px;
}
.home-bottom{
	.instagram {
		position:relative;
		.widgettitle{
	  		margin-top:0;
	  		padding:15px 0;
	  		font-size:26px;
	  	}
	  	#sb_instagram #sbi_load .fa, #sb_instagram .sbi_follow_btn .fa{margin-left:7px;margin-right:0;}
	  	#sb_instagram #sbi_load .sbi_follow_btn {
		  	position: absolute;
		  	top: 11px;
			left: 0;
			a{
				padding:5px 10px !important;
				background:none !important;
				border:1px solid @brand-accent-light;
			}
	  	}	
	  }
	  .selfy-girl{max-width:45%;}
 }
.sidebar{
	padding:0;
	margin-top:40px;
	.widget{
		margin-bottom:40px;
	}
}

/*******************
FOOTER
********************/
.footer{
	color:#fff;
	#inner-footer{
		padding:20px;
		a{color:#fff;}
		[class^=col-]:nth-child(3){clear:right}
		#text-2 {
		.textwidget{line-height:1.8em;}	
	}
	.social{
		a{
			background:rgba(0,0,0,0.7);
			color:@brand-light;
			padding:5px;
			display:inline-block;
			border-radius:5px;
			width:32px;
			height:32px;
			line-height:26px;
			margin-top:20px;
			font-size:26px;
			text-align: center;			
		}
	}
	.widgettitle{font-weight:700;margin-bottom:15px;}
	}
	.menu {
		padding-right:0;
		li{
			list-style: none;
			margin-bottom:5px;
		}
	}

}

.bottom-footer{
	font-size:@font-size-small;
	margin-top:20px;
	p{margin-bottom:0;}
	.copyright{padding-top:3px;color:lighten(@brand-light,30%);}
}
/*******************
Pages
********************/
.entry-content{
	h2,h3{color:@brand-primary;}
	h2{
		font-size:@font-size-h2;
		margin-bottom:20px;
		}
	} 
.article-header{
	height:300px;
	background:#fff url('../images/page-title-bg.jpg') no-repeat center top;
	position:relative;
	&:before{
		content:'';
		position: absolute;
		right:0;
		width:100%;
		height:100%;
		background: rgba(0,0,0,0.2);
	}
	.page-title{
		position:absolute;
		font-size:@font-size-h1;
		font-weight:700;
		color:#fff;
		bottom:20px;
		right:10px;
		left:0;
		margin:0 auto;
		text-shadow: -2px 3px 10px rgba(0, 0, 0, 0.4);
	}
}
ol.special{
	list-style:none;
	padding:20px 0 0;
	li{counter-increment: myIndex;
		position:relative;
		width:50%;
		color: @brand-light;
		font-size: 30px;
		margin-top:-40px;
		padding:0 60px 0;
		strong{
			font-size:40px;
			color:@brand-accent;
			line-height:0;
		}
	&:before{
		display: block;
		position: absolute;
		top:50px;
		width: 46px;
		height: 46px;
		text-align: center;
		font-size: 22px;
		font-weight:700;
		line-height: 43px;
		color: @brand-accent;
		background-color: #fff;
		border:1px solid @brand-accent;
		border-radius: 50%;
		content: counter(myIndex);
		}
	&:after{
		content:'';
		width:20px;
		height:1px;
		background-color: @brand-accent;
		position:absolute;
		top:73px;
	}
		&:first-child{margin-top:0;}
		&:nth-child(odd){
			float:right;
			clear:left;
			text-align:left;
			border-left:3px solid @brand-accent;
			&:before{
				left:-24px;
			}
			&:after{
				left:22px;
			}
		}
		&:nth-child(even){
			float:left;
			clear:right;
			border-right:3px solid @brand-accent;
			right:-3px;
			&:before{
				right:-24px;
			}
			&:after{
				right:22px;
			}
		}
		
	}
}

/**************
ACCORDION
*****************/

.panel-group .panel{
	margin-bottom:10px;
	border-color:@brand-light;
		> .panel-heading{
			padding:2px;
			background:#fff;
			a{
				display:block;
				padding:10px 15px;
				color:#fff;
				background:@brand-light;
				border:0;
				border-radius:3px;
				text-decoration:none;
				&:after{
					content:'+';
					float:left;
				}
			}

		}
		> .panel-heading + .panel-collapse .panel-body{
			border-top:0;
		}
		&.active{
				border-color:@brand-accent;
			a{
				background:@brand-accent;
				&:after{content:'-'}
			}
		}
	}
body.rtl .gform_wrapper{
		.gfield{
			margin-bottom:15px;
			&.col-sm-4{clear:none !important;}
			input,textarea{
				border:1px solid darken(@gray-lighter,5%);
				&:focus{border-color:@brand-light;}
			}
		}
		.gform_footer{text-align:center !important;}
		.gform_button{
			float:none !important;
			font-size:24px;
			&:focus{outline:0;}
		}
	}
.footer	#inner-footer{
	[class^=col-]:nth-child(3){clear:none}
  	.col-sm-4{width:40%;}
  	.col-sm-2{
  		width:16%;
  		&.contact-info{width:28%}
  	}
  	img#random{margin-right:-35px;}
} 